h1{
    color:yellow
}
*{
    color: red;
    background-color: blue;
}
.header{
    background-color: pink;
    display:flex;
    justify-content: space-between;

}

.item{
    background-color: white;
    color: black;
    display:flex;
    justify-content: space-between;

}

.images{
    background-color: orange;
    display:flex;
    justify-content: space-between;

}

.footer{
    background-color: green;
    display:flex;
    justify-content: flex-end;
}